<div class="home" ng-click="unsetShowMenu($event)" ng-swipe-right="showMenu()" ng-swipe-left="hideMenu()">
   <div class="backmenu">
      <ul>
         <li><a ui-sref="somestate">some state</a></li>
      </ul>
   </div>
   <div ng-class="{front:true,showmenu:home.showmenu}">
      <div class="button menu">
         <a class="image" ng-click="home.showmenu=!home.showmenu" target="_blank">
            <img src="img/menuburger-thin.png">
         </a>
      </div> 

      <h1> home! </h1>  
   </div>
</div>
