* { 
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  // transform: translate3d(0,0,0);  
  // -webkit-font-smoothing:subpixel-antialiased;
  -webkit-font-smoothing:antialiased;
}

body {
	padding:50px;
}

svg {
	width:80%;
	border:1px solid #eee;
	height:300px;
}
.hist {
	position:relative;
	padding:20px 10px;
}
.exs {
	position:absolute;
	top:0px; bottom:0px; 
	right:0px;
	width:400px;
	background:rgba(255,255,255,0.8);
	padding:10px 10px;
	list-style-type:none;
	li { 
		border-bottom:1px solid #eee;
		margin-top:2px;
	}
}
.threadgraph {
	position:relative;
	min-width:500px;
	min-height:300px;
	border:1px solid pink;
}